[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
gunicorn = "*"

[packages]
requests = "*"
sanic = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
